<div class='container'>
	<div class='row'>
		<div class='col-md-12' style='text-align: center;'>
			<br/>
			Project allocation has been sent out succesfully to all participants. A copy has been sent to your email as well. Woohoo! <br/> <br/>
			<a href='/'><button type='button' class='btn btn-info'>Create Another Project</button></a>
		</div>
	</div>
</div>
