
		<!-- Main container -->
		<div class='container-fluid'>
			<div class='row'>
				<div class='col-md-12 index-content'>
					<p class='index-content-title'>Find your dream team.</p>
					<p class='index-content-subtitle'> Matching you with the right partner at work. </p> <br>
					<a href="/projects/new"><button type='button' class='btn btn-success'>Let's Start</button></a>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-4 index-content-left'>
					[Image A]
					<p><b> Minimum Effort </b></p>
					<hr>
					<p class='index-content-desc'>
					Have students in a class? Struggling to form project groups? Teamder is here to put that struggle to an end. Teamder provides a seamless approach towards generating good teams given multiple individuals in different environments.
					</p>
				</div>
				<div class='col-md-4 index-content-middle'>
					Image B
					<p><b> Customizable </b></p>
					<hr>
					<p class='index-content-desc'>
					Teamder provides team managers with the opportunity to help groups learn more about what another in specific areas of interests. Members are able to specify their interest in these aspects as well as give a short write-up to help others know them better.
					</p>
				</div>
				<div class='col-md-4 index-content-right'>
					Image C
					<p><b> Automated </b></p>
					<hr>
					<p class='index-content-desc'>
					Teamder automatically allocates various members in an organization to teams they will be productive in, based on their preferences for one another as well as how similar they are in terms of their interest and proficiencies in the skillsets specified by the team manager.
					</p>
				</div>
			</div>
		</div>
