
		<!-- Main container -->
		<div class='container-fluid'>
			<div class='row'>
				<div class='col-md-12 index-content'>
					<p class='index-content-title'>Find your dream team.</p>
					<p class='index-content-subtitle'> Matching you with the right partner at work. </p> <br>
					<a href="/projects/new"><button type='button' class='btn btn-success'>Let's Start</button></a>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-4 index-content-left'>
					[Image A]
					<p><b> Minimum Effort </b></p>
					<hr>
					<p class='index-content-desc'>
					Have students in a class? Struggling to form project groups? Teamder is here to put that struggle to an end. Teamder provides a seamless approach towards generating good teams given multiple individuals in different environments.
					</p>
				</div>
				<div class='col-md-4 index-content-middle'>
					Image B
					<p><b> Customized </b></p>
					<hr>
					<p class='index-content-desc'>
					Teamder provides the
					</p>
				</div>
				<div class='col-md-4 index-content-right'>
					Image C
					<p><b> Title C </b></p>
					<hr>
					<p class='index-content-desc'>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>
		</div>
