		<header>
			<div class='row'>
				<div class='col-md-12 index-content'>
					<img src='/img/heart.jpg'>
					<p class='index-content-title'>Find a team that you love-love</p>
					<p class='index-content-subtitle'> And never be forever alone again!<sup>*</sup> </p>
					<p class='index-content-subsubtitle'>*does not apply to romantic relationships </p> <br>
					<a href="/projects/new"><button type='button' class='btn btn-success'>Let's Start</button></a>
				</div>
			</div>
		</header>

		<!-- Main container -->
		<div class='container-fluid'>
			<div class='row'>
				<div class='col-md-4 index-content-left'>
					<!--<img src="/img/leverage-min.jpg" height="100%" width="100%" class="index-image" />-->
					<p class='index-content-subtitle'><b> Match Others! </b></p>
					<hr>
					<p class='index-content-desc'>
					Have students in a class? Struggling to form project groups? Teamder is here to put that struggle to an end. Teamder provides a seamless approach towards generating good teams given multiple individuals in different environments.
					</p>
				</div>
				<div class='col-md-4 index-content-middle'>
					<!--<img src="/img/customizable-min.jpg" height="100%" width="100%" class="index-image" />-->
					<p class='index-content-subtitle'><b> Know Thy Friend! </b></p>
					<hr>
					<p class='index-content-desc'>
					Teamder provides team managers with the opportunity to help groups learn more about what another in specific areas of interests. Members are able to specify their interest in these aspects as well as give a short write-up to help others know them better.
					</p>
				</div>
				<div class='col-md-4 index-content-right'>
					<!--<img src="/img/automation-min.jpeg" height="70%" width="70%" class="index-image" />-->
					<p class='index-content-subtitle'><b> Magic Happens! </b></p>
					<hr>
					<p class='index-content-desc'>
					Teamder automatically allocates various members in an organization to teams they will be productive in, based on their preferences for one another as well as how similar they are in terms of their interest and proficiencies in the skillsets specified by the team manager.
					</p>
				</div>
			</div>
		</div>
