<html>
	<head>
		<script src='algo.js'></script>
		<script>
			var seed_people = [
				{'id': 0, skill_list: [9, 8, 7, 6]},
				{'id': 1, skill_list: [8, 7, 6, 5]},
				{'id': 2, skill_list: [5, 6, 7, 8]},
				{'id': 3, skill_list: [6, 7, 8, 9]},
				{'id': 4, skill_list: [6, 6, 6, 6]}
			];

			var seed_edge_list = [
				{source: 0, target: 1},
				{source: 0, target: 2},
				{source: 0, target: 3},
				{source: 0, target: 4},
				{source: 1, target: 2},
				{source: 1, target: 3},
				{source: 1, target: 4},
				{source: 2, target: 3},
				{source: 2, target: 4},
				{source: 3, target: 4},
				{source: 1, target: 0},
				{source: 2, target: 0},
				{source: 3, target: 0},
				{source: 4, target: 0},
				{source: 2, target: 1},
				{source: 3, target: 1},
				{source: 4, target: 1},
				{source: 3, target: 2},
				{source: 4, target: 2},
				{source: 4, target: 3}
			];
			match(seed_people, seed_edge_list, 3);
		</script>

		<table>
		{{#each teams}}
			<tr>
			<td>{{@index}}</td>
			{{#each this}}
				<td>{{this}}</td>
			{{/each}}
			</tr>
		{{/each}}
		</table>
	</head>
</html>
