body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px !important;
}

a, a:active, a:hover, a:visited {
    color: white;
    weight: 900;
    text-decoration: none;
}

/* Form Error */
#create_error {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #FF2400;
    color: white;
    display: none;
}

/* Navbar */
.navcontainer {
    color: white;
    background-color: #000;
}

.nav-title {
    padding: 5px 0px 0px 5px !important;
    font-weight: 900;
    font-size: 24px;
}

#navbar {
    padding: 10px 20px 10px 5px;
}

/* Main Content Index */
header {
    /*background-image: url('../img/team-min.jpg');*/
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: center center;
    background-size: contain;
    text-align: center;
    opacity: 0.5;
}

.index-content {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 15%;
    text-align: center;
    color: black;
    font-weight: 700;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.index-image {
    margin-top: 50px;
    margin-bottom: 30px;
}

.index-content-title {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60px;
}

.index-content-subtitle {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.index-content-left, .index-content-middle, .index-content-right {
    text-align: center;
    padding: 0 50px 0 50px;
}

.index-content-desc {
    text-align: justify !important;
    font-size: 16px;
}

/* Range */
.range-slider {
  width: $range-width;
}

.range-slider__range {
  height: $range-track-height;
  border-radius: 5px;
  background: $range-track-color;
  outline: none;
  padding: 0;
  margin: 0;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px !default;
  color: #fff !default;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50 !default;
  padding: 5px 10px;
  margin-left: 8px;
}

.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid $range-label-color;
  border-bottom: 7px solid transparent;
  content: '';
}

/*  --------------------------------------------------
    :: Table Filter
    -------------------------------------------------- */
.panel {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}
.panel .btn-group {
    margin: 15px 0 30px;
}
.panel .btn-group .btn {
    transition: background-color .3s ease;
}
.table-filter {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
    cursor: pointer;
    background-color: #eee;
}
.table-filter tbody tr td {
    padding: 10px;
    vertical-align: middle;
    border-top-color: #eee;
}
.table-filter tbody tr.selected td {
    background-color: #eee;
}
.table-filter tr td:first-child {
    width: 38px;
}
.table-filter tr td:nth-child(2) {
    width: 35px;
}
.table-filter .media-body {
    display: block;
    width: 100%;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media .title {
    color: #2BBCDE;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}
.table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
}
.table-filter .media .title span.completed {
    color: #5cb85c;
}
.table-filter .media .title span.incomplete {
    color: #d9534f;
}
.table-filter .media .summary {
    font-size: 14px;
}
