body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px !important;
}

a, a:active, a:hover, a:visited {
    color: white;
    weight: 900;
    text-decoration: none;
}

/* Form Error */
#create_error {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #FF2400;
    color: white;
    display: none;
}

/* Navbar */
.navcontainer {
    color: white;
    background-color: #000;
}

.nav-title {
    padding: 5px 0px 0px 5px !important;
    font-weight: 900;
    font-size: 24px;
}

#navbar {
    padding: 10px 20px 10px 5px;
}

/* Main Content Index */
.index-content {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.index-content-title {
    font-size: 60px;
}

.index-content-subtitle {
    font-size: 20px;
}

.index-content-left, .index-content-middle, .index-content-right {
    text-align: center;
    padding: 0 50px 0 50px;
}

.index-content-desc {
    text-align: justify !important;
}
